{% extends "main/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1>main price</h1>
    <p> 結果:{{result}} </p>
    <p> 差的平均:{{average}} </p>
    <p> 差的標準差:{{ss}} </p>
    <p>{{test}}</p>
{% endblock content %}

<!--
<!DOCTYPE html>
<html>
<head>
    <title>Price Page</title>
</head>
<body>
    <img src="{{MEDIA_URL}}/static/images/waiting.gif" alt="loading "/>
    <h1>main price</h1>
    <p> 結果:{{result}} </p>
    <p> 差的平均:{{average}} </p>
    <p> 差的標準差:{{ss}} </p>
</body>
</html>
-->
