{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <title>Volume page</title>
<!--
    {% if title %}
        <title> Django web - {{title}}</title>
    {% else %}
        <title> Django web</title>
    {% endif %}
-->
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Prediction Web</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/main">Home</a>
              <a class="nav-item nav-link" href="/main/Information">Information</a>
              <a class="nav-item nav-link" href="/main/price">Price</a>
              <a class="nav-item nav-link" href="/main/volume">Volume</a>
              <a class="nav-item nav-link" href="/main/price_trend">Price trend</a>
              <a class="nav-item nav-link" href="/main/price_trend_compare">Price trend compare</a>
            </div>
            <!-- Navbar Right Side
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
            </div>-->
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            <div><h5>{{context.title}}</h5></div>
            <div id="tester"></div>
            <div></div>
            <div><h4>{{context.accuracy}}</h4></div>
            <div><h4>{{context.average}}</h4></div>
            <div><h4>{{context.sd}}</h4></div>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Information Block</h3>
            <p class='text-muted'>You should put information here.
              <ul class="list-group">
                <form action="/main/volume/" method="POST" name="form1">
                {% csrf_token %}
                  <p class='text-muted'>
                  <p class='text-muted'>Crop market:
                  <input type="text" name="Crop market">
                  <p class='text-muted'>Crop name:
                  <input type="text" name="Crop name">
                  <p class='text-muted'>Crop num:
                  <input type="text" name="Crop num">
                  <p class='text-muted'>Wstation name:
                  <input type="text" name="Wstation name">
                  <p class='text-muted'>Wstation num:
                  <input type="text" name="Wstation num">
                  <p class='text-muted'>Today date:
                  <input type="text" name="Today date"><br />
                  <p class='text-muted'>
                  <input type="submit" value="Predict">
                  <p class='text-muted'><br />
                  <p class='text-muted'><h5>Sample input</h5>
                  <p class='text-muted'>Crop market: 台北一
                  <p class='text-muted'>Crop name: 甘藍-初秋
                  <p class='text-muted'>Crop num: LA1
                  <p class='text-muted'>Wstation name: 鞍部
                  <p class='text-muted'>Wstation num: 466910
                  <p class='text-muted'>Today date: 2019-04-06

                </form>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>

    <script>
        TESTER = document.getElementById('tester');
        var data =[
            {
                x: {{context.a}},
                y: {{context.b}},
                type: 'lines',
                name:'volume_predict'
            },
            {
                x: {{context.a}},
                y: {{context.c}},
                type: 'lines',
                name:'volume_origin'
            }
        ];
        var layout = {
            width:750,
            height:500,
            plot_bgcolor:"#ADD8E6",
            paper_bgcolor:"#F0F8FF"
        };
        Plotly.newPlot(TESTER, data, layout);
    </script>

</body>
</html>




